<template>
  <div class="container">
      <div class="text-center m-3">
        <template v-if="isConnected">
         <button class="btn btn-dark" @click="editAbout(about.id)">עריכה</button>
        </template>
      </div>
        <h1 class="text-center">
        אודות
        </h1>
    <div class="jumbotron d-flex flex-column justify-content-center align-items-center">
        <img :src="imagePath()" />
        <div class="mt-3"></div>
        <h3>{{about.title}}</h3>
        <p class="text-break text-center" v-html="about.body">
        </p>

    </div>
  </div>
</template>

<script>
import { types } from '../../store/modules/About.module';
export default {
name:'about',
computed:{
    about(){
        return this.$store.state.AboutModule.abouts;
    },
    user() {
      return this.$store.state.AuthModule.user;
    },
    isConnected() {
      return this.$store.getters.isConnected;
    }
},
methods:{
    imagePath(){
        return `storage/images/${this.about.image}`;
    },
    editAbout(id){

        console.log(id);

        this.$router.push({name:"edit-about",params:{id}});
    }
},
async created(){
    let res = await this.$store.dispatch(types.FETCH);
}
}
</script>

<style lang="scss" scoped>
    img{
        border-radius: 50%;
        width:15%;
        height: 15%;
    }
    p{
        width:70%;
    }
</style>
