<template>
  <div>
    <form @submit.prevent="onSubmit" class="form-group">
      <label f>Title:</label>
      <input type="text" class="form-control" name="title" required v-model="title" />
      <label>Image:</label>
      <input
        type="file"
        class="form-control"
        id="file"
        name="image"
        @change="imageChanged"
        accept="image/*"
        ref="image"
      />
      <label>Description:</label>
      <wysiwyg v-model="body" />
      <div class="text-center pt-3">
        <button class="btn btn-primary" type="submit">שלח</button>
      </div>
    </form>
  </div>
</template>

<script>
import { types } from "../../store/modules/About.module";
import swal from "sweetalert2";
export default {
  name: "edit-about",
  data() {
    return {
      form: new FormData(),
      title: "",
      body: "",
      soundcloud_link: "",
      image: ""
    };
  },

  computed: {
    about() {
      return this.$store.state.AboutModule.abouts;
    }
  },
  methods: {
    imageChanged(e) {
      let file = this.$refs.image.files[0];
      this.image = file;
    },
    onSubmit() {
      this.errors = [];
      this.form.append("title", this.title);
      this.form.append("body", this.body);
      this.form.append("image", this.image);
      this.$store.dispatch(types.SAVE, this.form).then(
        () => {
          swal.fire({
            title: "Success",
            icon: "success"
          });
          this.$store.commit(types.GET, {});
          this.$router.push("/");
        },
        error => {
          this.errors = error.response.data.errors;
          swal.fire({
            html: Object.values(this.errors).join("<br/>"),
            icon: "error"
          });
        }
      );
    }
  },
  created() {
    if (Object.values(this.$route.params).length <= 0) {
      this.$store.dispatch(types.GET, this.$route.params.id).then(p => {
        (this.title = p.title), (this.body = p.body), (this.image = p.image);
      });
    }
  }
};
</script>

<style>
</style>