<template>

   <nav class="navbar navbar-expand-md navbar-light" style="backgroundColor:#CCE8FF;" v-bind:class=" { 'navbarOpen': show }">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#main-nav" @click.stop="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " v-bind:class="{ 'show': show }" id="main-nav" >
            <ul class="navbar-nav collapse navbar-collapse container" >
                <li class="nav-item  nav-link">
                    <router-link class="d-flex align-items-center align-self-start" to='/'>
                        <img src="../../podcast_logo.png" />
                        כיפת תרבות - פודקאסט תרבות יהודית
                    </router-link>
                </li>
                <li class="nav-item nav-link">
                    <router-link class="d-flex align-items-center justify-content-center mr-5 align-self-end" to='/about'>
                    אודות</router-link>
                </li>
            </ul>
    </div>
   </nav>
   
  
</template>

<script>
export default {
name:'myheader',
  data() {
    return {
      show: false
    }
  },
  methods: {
    toggleNavbar() {
      this.show = !this.show;
    }
  }

}
</script>
<style lang="scss" scoped>
    ul{
        height: 120px;
        li{
            a{
                text-decoration: none;
            }
        }
    }
    @media (max-width:768px){
        img{
            display: none;
        }
        ul{
            width:fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>