
<template>
  <div class="text-center">
     
      <template v-if="isConnected">
          <div class="text-center">
          <button @click="createNew" type="button" class="btn btn-primary">צור פודקאסט חדש</button>
          <button @click="newUser" type="button" class="btn btn-success">משתמש חדש </button>
          <button @click="logout" type="button" class="btn btn-danger">התנתקות </button>
          </div>
      </template>
    <header></header>
  
    <podcasts-list />
    <social-media />
  </div>
</template>

<script>

import {types as authTypes} from '../../store/modules/Auth.module';
import AuthService from '../../services/AuthService';
import PodcastsList from './PodcastsList';
import swal from 'sweetalert2';
import SocialMedia from './SocialMedia';
import {types as podcastTypes} from '../../store/modules/Podcast.module';
import Header from './Header';


export default {

    name:"home",
    components:{PodcastsList,SocialMedia,Header},
    computed:{
        user(){
            return this.$store.state.AuthModule.user;
        },
        isConnected(){
            return this.$store.getters.isConnected;
        }
    },
    methods:{
        logout(){
            swal.fire({
                title: 'Logout?',
                showCancelButton: true,
                icon: "warning",
                showConfirmButton:true,
                confirmButtonText: 'YES'
            }).then(res =>{
                    if(res.dissmiss){
                        return;
                    }else if(res.value){
                        this.$store.dispatch(authTypes.LOGOUT).then(()=>{
                        location.reload();
                        });
                    }
            }
               
      );
    },
     createNew(){
        this.$router.push({ name: "create" });
    },
    newUser(){
        this.$router.push({name:'register'})
    }
    },
    created() {
         window.scrollTo(0,0);
    }
}
</script>

<style scoped lang="scss">
   button{
       margin:6px;
   }

</style>
