<template>
  <div class="col-8 mx-auto">
    <form @submit.prevent="onSubmit">
        <label>דוא"ל:</label>
        <input type='email' v-model="form.email" name="email" class="form-control">
        <label>סיסמא:</label>
        <input type='password' v-model="form.password" name="password" class="form-control">
        <div class="pt-3 text-center">
            <button type="submit" class="btn btn-primary">כניסה</button>
        </div>
    </form>
  </div>
</template>

<script>
import {types} from '../../store/modules/Auth.module'
import swal from 'sweetalert2';
export default {
    name:'login',
    data(){
        return {
            form:{
                email:null,
                password:null
            }
        }
    },
    methods:{
        onSubmit(){
            this.error = null;
            this.$store.dispatch(types.LOGIN, this.form)
                .then(() => {
                    swal.fire({
                        title:'Login Success',
                        icon:'success'
                    })
                    this.$router.push({ path: "/" })
                },(error) => {
                    this.error = error.response.data.errors.email[0];
                    swal.fire({
                        title:this.error,
                        text:'email or password is invalid!',
                        icon:'error',
                        confirmButtonText:'OK'
                    });
                });
        }
    }
}
</script>

<style>

</style>
