        <template>
  <div>
    <div class="container d-flex flex-column">
      <div class="spacer" />
     <single-podcast />
    </div>
    <div class="spacer"></div>
   <template v-if="podcasts">
      <ul class="container list-group d-flex justify-content-center align-content-center">
      <h1 class="text-center">פרקים נוספים</h1>
      <li
        v-for="podcast in podcasts"
        :key="podcast.id"
        class="list-group-item d-flex justify-content-around align-items-center mb-1 bgColor"
        
      >
        <template v-if="isConnected">
          <div class="d-flex flex-column edit justify-content-end" >
            <button type="button" class="btn btn-primary" @click="editPodcast(podcast.id)">ערוך</button>
            <button type="button" class="btn btn-danger" @click="deletePodcast(podcast)">מחק</button>
          </div>
        </template>
        <div
          class="d-flex justify-content-center align-items-center" 
         @click="selectPodcast(podcast.id)"
        >
        <h3> <router-link class="text-decoration-none" :to="{query:{podcast:podcast.id}}" >{{podcast.title}} </router-link></h3>
        </div>
      </li>
    </ul>
   </template>

  <template v-else>
    <h1>אין פרקים קיים</h1>
  </template>
    <div class="spacer"></div>
    <div>
      <ul class="pagination d-flex justify-content-center align-items-center">
        <button
          class="page-link"
          @click="changePage('prev')"
          :disabled="page === pagination.first_page"
          tabindex="-1"
        >קודם</button>
        <div
          class="mx-3 text-center d-flex justify-content-center align-items-center"
        >עמוד: {{pagination.current_page}} מתוך {{pagination.last_page}}</div>
        <button
          class="page-link"
          @click="changePage('next')"
          tabindex="-1"
          :disabled="page === pagination.last_page"
        >הבא</button>
      </ul>
    </div>
  </div>
</template>

        <script>
import { types as podcastTypes, params } from "../../store/modules/Podcast.module";
import swal from "sweetalert2";
import SinglePodcast from './SinglePodcast';

export default {
  name: "podcasts-list",
  components:{SinglePodcast},
  data() {
    return {
      pagination: {},
      page: 1,
      podcast: {}
    };
  },
  methods: {
    changePage(action) {
      if (action === "next") {
        this.page++;
        if (this.page) {
          this.$store
            .dispatch(podcastTypes.FETCH, { page: this.page })
            .then(res => {
             this.setPagination(res.current_page,res.total,res.last_page,
              res.first_page_url,res.last_page_url,res.first_page_url,res.last_page_url
            ,res.next_page_url,res.from,res.to,res.prev_page_url);
            });
        }
      } else if (action === "prev") {
        if (this.page > 1) {
          this.page--;
          this.$store
            .dispatch(podcastTypes.FETCH, { page: this.page })
            .then(res => {
             this.setPagination(res.current_page,res.total,res.last_page,
        res.first_page_url,res.last_page_url,res.first_page_url,res.last_page_url
        ,res.next_page_url,res.from,res.to,res.prev_page_url);
            });
        } else {
          this.page = 1;
        }
      }
    },
     deletePodcast(podcast) {
      this.errors = [];
       swal
        .fire({
          title: "Delete Podcast",
          showCancelButton: true,
          icon: "warning",
          showConfirmButton: true,
          confirmButtonText: "YES"
        })
        .then(
          res => {
            if (res.value) {
              this.$store.dispatch(podcastTypes.REMOVE, podcast).then(() => {
                location.reload();
              });
            } else {
              return;
            }
          },
          error => {
            this.errors = error.response.data.errors[0];
            swal.fire({
              title: Objecy.values(this.errors),
              text: "Something Went Wrong Please Try Agian",
              icon: "error",
              confirmButtonText: "OK"
            });
          }
        );
    },
    editPodcast(id) {
     this.$store.dispatch(podcastTypes.GET, id).then((res)=> {
       this.$router.push({ name: "create" ,params:{podcast:res.id}});
     });
      
    },
    async selectPodcast(id) {
      this.$store.dispatch(podcastTypes.GET, id).then((res)=>{
          this.$router.push({ query:{ podcast:res.id} ,params:{podcast:res.id}})
          window.scrollTo(0,0);
      });
      

    },
    toggler(e) {
      if (e.target.innerText === "קרא עוד") {
        e.target.innerText = "סגור";
        e.target.parentElement.children[0].className = "";
        e.target.parentElement.children[0].className = "descempty";
        e.target.parentElement.children[1].className = "";
        e.target.parentElement.children[1].className = "descinline";
      } else {
        e.target.innerText = "קרא עוד";
        e.target.parentElement.children[0].className = "descinline";
        e.target.parentElement.children[1].className = "descempty";
      }
    },
    setPagination(current_page,total,last_page,first_page_url,last_page_url,next_page_url,from,to,prev_page_url){
        this.pagination = {
            current_page,
            total,
            last_page,
            first_page_url,
            last_page_url,
            next_page_url,
            from,
            to,
            prev_page_url
        }
    }
  },
  computed: {
    podcasts() {
      return this.$store.state.PodcastModule.podcasts;
    },
    user() {
      return this.$store.state.AuthModule.user;
    },
    isConnected() {
      return this.$store.getters.isConnected;
    }
  },
  
  async created() {
    let res = await this.$store.dispatch(podcastTypes.FETCH);
    this.setPagination(res.current_page,res.total,res.last_page,
        res.first_page_url,res.last_page_url,res.first_page_url,res.last_page_url
        ,res.next_page_url,res.from,res.to,res.prev_page_url);
    let podcastId = this.$router.currentRoute.query.podcast;
    if(!podcastId){
        podcastId = res.data[0].id;
    }
    await this.selectPodcast(podcastId);
    window.scrollTo(0,0);
  }
};
</script>

        <style lang="scss" scoped>
.spacer {
  margin: 30px 0;
}
ul {
  li {
    &:hover{
      cursor: pointer;
    }
    div {
      width: 100%;
    }
  }
}
h1 {
  direction: rtl;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  direction: rtl;
}
.description {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px;
  direction: rtl;
  align-items: center;
  
  p {
    max-width: 80%;
    font-size: 18px;
    direction: rtl;
    text-align: right;
     overflow-wrap: break-word;
  }
  .descinline {
    display: flex;
    
  }
  .descempty {
    display: none;
    
  }
}
img {
  max-width: 40%;
  max-height: 40%;
  margin: 10px 0;
}
.edit {
  width: 40%;
  button {
    width: 100px;
    height: fit-content;
    margin: 2px 0;
  }
}
.bgColor {
  background-color: rgb(204, 232, 255);
}
</style>
