<template>
  <div>
    <form @submit.prevent="onSubmit" enctype="multipart/form-data" class="form-group">
      <label f>Title:</label>
      <input type="text" class="form-control" name="title" required v-model="title" />
      <label>Soundcloud Link</label>
      <input
        type="text"
        class="form-control"
        name="soundcloud_link"
        required
        v-model="soundcloud_link"
      />
      <div>
        <label>Description:</label>
        <wysiwyg v-model="description" />
      </div>
      <label>Image:</label>
      <input
        type="file"
        class="form-control"
        id="file"
        name="image"
        @change="imageChanged"
        accept="image/*"
        ref="image"
      />

      <div class="text-center pt-3">
        <template v-if="isEmpty">
          <button class="btn btn-primary" type="submit">צור</button>
        </template>
        <template v-else>
          <button class="btn btn-primary" type="submit">ערוך</button>
        </template>
      </div>
    </form>
  </div>
</template>

<script>
import { types as podcastType } from "../../store/modules/Podcast.module";
import swal from "sweetalert2";

export default {
  name: "podcast-create",
  data() {
    return {
      title: "",
      description: "",
      soundcloud_link: "",
      image: "",
      id: "",
      edit: false,
      formObj: {}
    };
  },

  computed: {
    isEmpty() {
      return Object.values(this.$route.params) <= 0;
    }
  },
  methods: {
    imageChanged(e) {
      let file = this.$refs.image.files[0];
      this.image = file;
    },
    onSubmit(e) {
      this.errors = [];
      this.formObj = new FormData();
      this.formObj.append("id", this.id);
      this.formObj.append("title", this.title);
      this.formObj.append("description", this.description);
      this.formObj.append("soundcloud_link", this.soundcloud_link);
      this.formObj.append("image", this.image);
      this.formObj.id = this.id;
        this.$store
          .dispatch(podcastType.SAVE,  this.formObj)
          .then(
            res => {
              this.$router.push("/");
              this.edit = !this.edit;
              swal.fire({
                title: "Success",
                icon: "success"
              });
            },
            error => {
              this.errors = error.response.data.errors;
              swal.fire({
                html: Object.values(this.errors).join("<br/>"),
                icon: "error"
              });
            }
          );
       
    }
  },
  async created() {
    let podcastId = this.$route.params.podcast;
    if (podcastId) {
      let res = await this.$store.dispatch(podcastType.GET, podcastId);
      this.title = res.title;
      this.description = res.description;
      this.soundcloud_link = res.soundcloud_link;
      this.image = res.image;
      this.id = res.id;
    }
  }
};
</script>

<style scoped>
</style>
