import swal from "sweetalert2";
import swal from "sweetalert2";
<template>
    <form @submit.prevent="onSubmit">
         <label>Name:</label>
        <input type='text' v-model="form.name" name="name" class="form-control">
         <label>Email:</label>
        <input type='email' v-model="form.email" name="email" class="form-control">
        <label>Password:</label>
        <input type='password' v-model="form.password" name="password" class="form-control">
        <div class="pt-3 text-center">
            <button type="submit" class="btn btn-primary">הרשמה</button>
        </div>
    </form>
</template>

<script>
import {types} from '../../store/modules/Auth.module'
import swal from 'sweetalert2';
export default {
    name:"register",
    data(){
        return {
            form:{
            name:'',
            email:'',
            password:''
            }
        }
    },
    methods:{
        onSubmit(){
            this.error = null;
             this.$store.dispatch(types.SAVE, this.form).then(() => {
                     swal.fire({
                     title:'Register Success',
                     icon:'success'
                 })
                     this.$router.push({ path: "/" });
            },
                 (error) => {
                     this.error = error.response.data.errors.email[0];
                     swal.fire({
                         title:this.error.join("."),
                         text:'email or password is invalid!',
                         icon:'error',
                         confirmButtonText:'OK'
                     })
                 });
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
