<template>

      <div class="myBg d-flex flex-column">
      <template v-if="podcast">
          <h3 class="text-center">{{podcast.title}}</h3>
          <div class="d-flex justify-content-center">
          <template v-if="podcast.image === 'no Image'">
              <div></div>
          </template>
          <template else>
          <img :src="getImage()"  />
          </template>
          </div>
          <div class="description">
            <div class="descinline" v-html="shorttext(podcast.description,900)"></div>
            <div class="descempty" v-html="podcast.description"></div>
            <button type="button" class="btn btn-light" @click="toggler($event)">קרא עוד</button>
          </div>

          <iframe
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            :src="soundCloudPath()"
          ></iframe>
      </template>
      <template v-else>
        <h1>פודקאסט לא קיים</h1>
      </template>
      </div>

</template>

<script>
import {types} from '../../store/modules/Podcast.module';

export default {
name:'single-podcast',
computed:{
    podcast(){
        return this.$store.state.PodcastModule.podcast;
    }
},
methods:{
    getImage(){
        return `storage/images/${this.podcast.image}`;
    },
    soundCloudPath(){
        if (this.podcast.soundcloud_link.includes('soundcloud')) {
             return `https://w.soundcloud.com/player/?url=${this.podcast.soundcloud_link}`
        }
        return this.podcast.soundcloud_link;
    },
     toggler(e) {
      if (e.target.innerText === "קרא עוד") {
        e.target.innerText = "סגור";
        e.target.parentElement.children[0].className = "";
        e.target.parentElement.children[0].className = "descempty";
        e.target.parentElement.children[1].className = "";
        e.target.parentElement.children[1].className = "descinline";
      } else {
        e.target.innerText = "קרא עוד";
        e.target.parentElement.children[0].className = "descinline";
        e.target.parentElement.children[1].className = "descempty";
      }
    },
      shorttext(value, limit) {
      if (value) {
        return value.substring(0, limit) + "...";
      }
    }

},

  async created(){
    let id = this.$router.currentRoute.query.podcast;
    let res =  await this.$store.dispatch(types.GET ,id);
}
}
</script>

<style lang="scss" scoped>
    .myBg{
      background-color: #F2F2F2;
    }
    h2{
        direction: rtl;
    }
   .description {
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    direction: rtl;
    text-align: right;
    width:90%;
  p {
    max-width: 75%;
    font-size: 18px;
  }
   }

  .descinline {
    display: block;

  }
  .descempty {
    display: none;

  }
  img {
  max-width: 40%;
  max-height: 40%;
  margin: 10px 0;
}
</style>
