<template>
  <ul class="row">
      <li class="col-sm">
         <a target="_blank" href="https://www.facebook.com/ooshry"> <i class="fab fa-facebook-square fa-5x"></i></a>
      </li>
      <li class="col-sm">
          <a target="_blank" href="https://soundcloud.com/7epgyxxhza4j" ><i class="fab fa-soundcloud fa-5x"></i></a>
      </li>
      <li class="col-sm">
          <a target="_blank" href="https://closeapp.co.il/%d7%9e%d7%a2%d7%a8%d7%9b%d7%aa-%d7%90%d7%aa%d7%a8%d7%99%d7%9d-%d7%9c%d7%a4%d7%95%d7%93%d7%a7%d7%90%d7%a1%d7%98%d7%99%d7%9d-%d7%90%d7%aa%d7%a8-%d7%9c%d7%a4%d7%95%d7%93%d7%a7%d7%90%d7%a1%d7%98/"> <img  src="../../CloseApp_200x80.png" /></a>
      </li>
      <li class="col-sm">
          <a target="_blank" href="https://www.kipa.co.il/"> <img  src="../../kipa_logo.png" /></a>
      </li>
  </ul>
</template>

<script>
export default {
    name:'social-media'
}
</script>

<style lang="scss" scoped>
    ul{
        list-style: none;
        width:100%;
        height: 100px;
        display:flex;
        justify-content: space-evenly;
        padding:16px;
        a{
            text-decoration: none;

              img{
                width:60%;
                height: 40%;
                &:hover{
                    background-color: rgb(255, 255, 255);
                }

            }
        }
       li{
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;


        }
    }
</style>
