<template>
<div>
        <myheader />
            <main class="py-4">
                <div class="container">
                <router-view></router-view>
                </div>
            </main>
            </div>
</template>

<script>
import myHeader from './pages/Header';
    export default {
        name:'welcome',
        componencts:{myHeader}
        
    }
</script>
<style lang="scss" scoped>
*{
    direction: rtl;
}
</style>